.example-margin {
    margin: 0 12px;
  }
  .container{
    font-family: 'poppins'!important;
    width: 100%;
	padding-bottom: 2%;
	justify-content: center;
	letter-spacing: 0.18px;
	
 }
 .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
h2{
  font-family: 'poppins'!important;

}


:host ::ng-deep .multiselect-dropdown .selected-item{
  max-width: 400px !important;
  margin: 4px; 
  }

  .allButtonSpan{
    color: black;
    font-family: poppins;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 
    #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
    }
    .allButton{
    background-color: red;
    box-shadow: 2px 2px 3px rgb(158, 158, 151), 3px 3px 3px rgb(102, 98, 98);
    }
    .allButton:disabled{
    background-color: rgb(243, 88, 88)
    }
    