.container{
    font-family: poppins;
    letter-spacing: 0.18px;
  }
  .modal-title{
    font-weight: bold;
    font-family: poppins;
    letter-spacing: 0.18px;
  }
  mat-form-field{
    font-family: poppins;
    letter-spacing: 0.18px;
  }
  h2,h4{
    font-family: poppins;
  }
  .modal{
    width:115%;
  }
  
  .search:focus{
    border-color: grey;
    box-shadow: none;
  }

  
:host ::ng-deep .multiselect-dropdown .selected-item{
  max-width: 400px !important;
  margin: 4px; 
  }