<div class="container mt-3" style="overflow: hidden;">

    <!-- <div class="row ml-1 mt-2 d-flex" style="justify-content: center;margin: 5px;">
        <mat-radio-group (change)='onFilteringRadioButtonChange($event)' aria-label="Select User Types to filter">
            <mat-radio-button checked value="upcoming_events" >Upcoming Events</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button  value="registered_events">Registered / Canceled Events</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button  value="completed_events">Completed Events</mat-radio-button>
        </mat-radio-group>
    </div> -->

    <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3" [rowData]="rowData "
        [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" (rowClicked)='onRowClicked($event)'
        [pagination]="true" rowSelection='multiple' [checkboxSelection]="true" [gridOptions]="gridOptions">
    </ag-grid-angular>

    

</div>