<div class="container mt-4">
    <mat-card class="shadow">

        <div class="row">

            <h1 class="col-md-12 heading">My Profile</h1>
        </div>

        <form *ngIf="isApprovedUserLoggedIn" (change)="isDirty = true" [formGroup]="myprofileform">

            <div class="row" style="padding-left: 1.6%;">

                <mat-form-field style="width:10%;">
                    <mat-label>Title</mat-label>
                    <mat-select required id="title" formControlName="title" placeholder="title">
                        <mat-option *ngFor="let title of titles; index as i" [value]=title>{{title}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field style="width:30%;padding-left: 1%;">
                    <mat-label>First Name</mat-label>
                    <input style="text-transform: capitalize;" required id="firstName" matInput
                        formControlName="firstName" placeholder="Enter First Name" />
                </mat-form-field>

                <mat-form-field style="width:30%;padding-left: 1%;">
                    <mat-label>Middle Name</mat-label>
                    <!--required-->
                    <input style="text-transform: capitalize;" id="middleName" matInput formControlName="middleName"
                        placeholder="Enter Middle Name" />
                </mat-form-field>

                <mat-form-field style="width:30%;padding-left: 1%;padding-right: 1.4%;">
                    <mat-label>Last Name</mat-label>
                    <input style="text-transform: capitalize;" required id="lastName" matInput
                        formControlName="lastName" placeholder="Enter Last Name" />
                </mat-form-field>

            </div>



            <div class="row">
                <mat-form-field class="col-md">
                    <mat-label>Nick Name</mat-label>
                    <input style="text-transform: capitalize;" id="lastName" matInput formControlName="nickName" />
                </mat-form-field>

                <mat-form-field class="col-md">
                    <mat-label>Baptismal Name</mat-label>
                    <input style="text-transform: capitalize;" id="baptismalName" matInput
                        formControlName="baptismalName" />
                </mat-form-field>


                <mat-form-field class="col-md">
                    <mat-label>Date of Birth</mat-label>
                    <!--required-->
                    <input [max]="maxDate" matInput type="input" [matDatepicker]="picker" id="dob"
                    (dateChange)="dateChange($event)" formControlName="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="row">
                <mat-form-field class="col-md-4">
                    <mat-label style="padding-left: 15%;">Mobile Number *</mat-label>
                    <!--<input required id="mobileNo" matInput formControlName="mobileNo" ng2TelInput maxlength="10" (keypress)="keyPress($event)"
          placeholder="Enter Mobile Number" /> 
        [preferredCountries]="['us', 'in']"
        [onlyCountries]= "['us','in']"-->

                    <ngx-mat-intl-tel-input id="mobileNo" matInput (keypress)="keyPress($event)"
                        [onlyCountries]="['us','in','ca']" [enableSearch]="true" [enablePlaceholder]="true"
                        [maxLength]="['10']" [enableAutoCountrySelect]="true" name="mobileNo" formControlName="mobileNo"
                        [preferredCountries]="['us']" [enableRequired]="true"></ngx-mat-intl-tel-input>

                    <!-- <mat-error *ngIf="myprofileform.controls.mobileNo.touched && myprofileform.controls.mobileNo.invalid">
            <span *ngIf="myprofileform.controls.mobileNo.errors.required">This field is mandatory.</span>
             <span *ngIf="myprofileform.controls.mobileNo.errors.pattern">Enter 10 digit number.</span> 
        </mat-error> -->
                    <!-- <mat-error *ngIf="myprofileform.controls['mobileNo']?.errors?.required">Required Field</mat-error>
        <mat-error *ngIf="myprofileform.controls['mobileNo']?.errors?.validatePhoneNumber">Enter 10 digit number.</mat-error> -->

                    <mat-error
                        *ngIf="myprofileform.controls.mobileNo.touched && myprofileform.controls.mobileNo.invalid">
                        <span *ngIf="myprofileform.controls['mobileNo']?.errors?.required">This field is
                            mandatory.</span>
                        <span *ngIf="myprofileform.controls['mobileNo']?.errors?.validatePhoneNumber">Enter 10 digit
                            number.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label style="padding-left: 15%;">Home Phone Number</mat-label>
                    <!-- <input id="homePhoneNo" matInput formControlName="homePhoneNo" ng2TelInput  maxlength="10" (keypress)="keyPress($event)"
          placeholder="Enter Home Phone Number" />
          <mat-error *ngIf="myprofileform.controls.homePhoneNo.touched && myprofileform.controls.homePhoneNo.invalid">
            <span *ngIf="myprofileform.controls.homePhoneNo.errors.required">This field is mandatory.</span>
            <span *ngIf="myprofileform.controls.homePhoneNo.errors.pattern">Enter 10 digit number.</span>
        </mat-error> -->
                    <ngx-mat-intl-tel-input id="homePhoneNo" matInput (keypress)="keyPress($event)"
                        [onlyCountries]="['us','in','ca']" [enableSearch]="true" [enablePlaceholder]="true"
                        [maxLength]="['10']" [enableAutoCountrySelect]="true" name="homePhoneNo"
                        formControlName="homePhoneNo" [preferredCountries]="['us']" [enableRequired]="true">
                    </ngx-mat-intl-tel-input>
                    <mat-error
                        *ngIf="myprofileform.controls.homePhoneNo.touched && myprofileform.controls.homePhoneNo.invalid">
                        <!-- <span *ngIf="myprofileform.controls['homePhoneNo']?.errors?.required">This field is mandatory.</span> -->
                        <span *ngIf="myprofileform.controls['homePhoneNo']?.errors?.validatePhoneNumber">Enter 10 digit
                            number.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label>Email Address</mat-label>
                    <input id="emailId" matInput formControlName="emailId" placeholder="Enter Email Address" />
                    <mat-error *ngIf="myprofileform.controls.emailId.touched && myprofileform.controls.emailId.invalid">
                        <span *ngIf="myprofileform.controls.emailId.errors.required">This field is mandatory.</span>
                        <span *ngIf="myprofileform.controls.emailId.errors.pattern">Enter valid email id.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>Address Line 1</mat-label>
                    <input id="addressLine1" matInput formControlName="addressLine1" placeholder="Enter Address" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>Address Line 2</mat-label>
                    <input id="addressLine2" matInput formControlName="addressLine2" placeholder="Enter Address" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>Address Line 3</mat-label>
                    <input id="addressLine3" matInput formControlName="addressLine3" placeholder="Enter Address" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md">
                    <mat-label>City</mat-label>
                    <!--required-->
                    <input id="city" matInput formControlName="city" placeholder="Enter Address" />
                </mat-form-field>

                <mat-form-field class="col-md">
                    <mat-label>Postal Code</mat-label>
                    <!--required-->
                    <input id="postalCode" matInput formControlName="postalCode" placeholder="Enter Address" />
                </mat-form-field>

                <mat-form-field class="col-md">
                    <mat-label>Parish</mat-label>
                    <!-- <input id="parish" matInput formControlName="parish" readonly /> -->
                    <!-- readonly -->
                    <mat-select [disabled]=true id="parish" formControlName="parish" placeholder="Parish">
                        <mat-option *ngFor="let parish of parishList" [value]=parish.id>{{parish.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">

                <mat-form-field class="col-md-6">
                    <mat-label>Country</mat-label>
                    <!--required [(ngModel)]="selectedCountry"-->
                    <select matNativeControl id="country" formControlName="country" placeholder="Select Country"
                        (change)="changeCountry($event)">
                        <option *ngFor="let country of countries" [value]="country.countryName">{{country.countryName}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>State/Province</mat-label>
                    <!--required-->
                    <select matNativeControl id="state" formControlName="state" placeholder="Select State/Province">
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col-md">
                    <mat-label>Marital Status</mat-label>
                    <!--required-->
                    <mat-select matNativeControl id="maritalStatus" formControlName="maritalStatus"
                        placeholder="Enter Country">

                        <mat-option *ngFor="let married of maritalstatus " [value]="married">
                            {{married}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md">
                    <mat-label>Date of Marriage</mat-label>
                    <!--required-->
                    <input [disabled]="myprofileform.value.maritalStatus=='Unmarried'" [max]="maxDate" matInput
                        type="input" [matDatepicker]="marriageDatepicker" id="dateofMarriage"
                        formControlName="dateofMarriage">
                    <mat-datepicker-toggle matSuffix [for]="marriageDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #marriageDatepicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-12">
                    <mat-label>About Yourself</mat-label>
                    <textarea id="aboutYourself" matInput formControlName="aboutYourself"
                        placeholder="Enter About Yourself">
  </textarea>
                </mat-form-field>
            </div>

            <div class="col-md-9" style="padding-top: 0.4%;margin-left: -5.7%;">
                <mat-radio-group formControlName="isStudent" (change)="isStudentFn($event)"
                    aria-label="Select an option">
                    <label style="margin-right: 1%;" id="example-radio-group-label" class="ml-5">Do you wish to join
                        Sunday School ? </label>
                    <mat-radio-button [checked]=isStudent value=true>Yes</mat-radio-button>&nbsp;
                    <mat-radio-button [checked]=!isStudent value=false>No</mat-radio-button>
                </mat-radio-group>
            </div>






        </form>

        <div *ngIf="!isFamilyHead">
            <form [formGroup]="studentDetailsForm">
                <div *ngIf="isStudentvar || isStudent">

                    <mat-divider
                        style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                    </mat-divider>

                    <div class="row" style="padding-top: 1%;">
                        <div class="col-md-12">
                            *If student please fill in following details (K-12) :
                        </div>
                    </div>

                    <div class="row" style="padding-top: 1%;">
                        <div class="col-md-6">
                            <h2>Academic Details</h2>
                        </div>
                    </div>


                    <div class="row">

                        <mat-form-field class="col-md-9">
                            <mat-label>School Name</mat-label>
                            <input id="schoolName" formControlName="schoolName" matInput
                                placeholder="Enter School Name" />
                        </mat-form-field>
                

                        <mat-form-field class="col-md-3">
                            <mat-label>School Grade</mat-label>
                            <!-- [(ngModel)]="acadmicGradeSelection" (ngModelChange)="onAcadmicGradeChange($event)" -->
                            <mat-select required matNativeControl (selectionChange)="gradeChange()" id="schoolGrade"
                                formControlName="schoolGrade">
                             
                                <mat-option *ngFor="let schoolGrade of schoolDataList[0].grades"
                                    [value]=schoolGrade.name>{{schoolGrade.name}} </mat-option>
                            </mat-select>
                        </mat-form-field>


                        <!-- <ng-multiselect-dropdown style="padding-top: 0.7%;" class="col-md-6" id="sunSchoolGrade"
                  placeholder="School Grade" [settings]="dropdownSettingsSchoolGrade" [data]="schoolDataList[0].grades"
                  formControlName="sunSchoolGrade" (onSelectAll)="onSelectAll($event)"(selectionChange)="gradeChange()" >
                </ng-multiselect-dropdown> -->
                    </div>

                    <div class="row" *ngIf="ishidden">

                        <mat-form-field class="col-md-6">
                            <mat-label>Academic Year Start Date</mat-label>
                            <input matInput [matDatepicker]="pickerstartdate" id="studntAcaYrStrtDate"
                                formControlName="studntAcaYrStrtDate" placeholder="Enter Academic Year Start Date">
                            <mat-datepicker-toggle matSuffix [for]="pickerstartdate"></mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #pickerstartdate></mat-datepicker>
                        </mat-form-field>

                        <!-- (monthSelected)="monthSelected($event)"  -->



                        <mat-form-field class="col-md-6">
                            <mat-label>Academic Year End Date</mat-label>
                            <input matInput [matDatepicker]="pickerenddate" id="studntAcaYrEndDate"
                                formControlName="studntAcaYrEndDate" placeholder="Enter Academic Year End Date">
                            <mat-datepicker-toggle matSuffix [for]="pickerenddate"></mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #pickerenddate></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <div class="row" *ngIf="ishidden">

                        <mat-form-field class="col-md-4">
                            <mat-label>Address Line 1</mat-label>
                            <input id="schoolAddressLine1" formControlName="schoolAddrLine1" matInput
                                placeholder="Enter Address Line 1" />
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <mat-label>Address Line 2</mat-label>
                            <input id="schoolAddressLine2" formControlName="schoolAddrLine2" matInput
                                placeholder="Enter Address Line 2" />
                        </mat-form-field>

                        <mat-form-field class="col-md-4">
                            <mat-label>Address Line 3</mat-label>
                            <input id="schoolAddressLine3" formControlName="schoolAddrLine3" matInput
                                placeholder="Enter Address Line 3" />
                        </mat-form-field>

                    </div>

                    <div class="row" *ngIf="ishidden">


                        <mat-form-field class="col-md-6">
                            <mat-label>School Country</mat-label>
                            <input required id="schoolCountry" formControlName="schoolCountry" matInput
                                placeholder="Enter School Country" />
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <mat-label>School State</mat-label>
                            <input required id="schoolState" formControlName="schoolState" matInput
                                placeholder="Enter School State" />
                        </mat-form-field>

                    </div>

                    <div class="row" *ngIf="ishidden">

                        <mat-form-field class="col-md-6">
                            <mat-label>School City</mat-label>
                            <input required id="schoolCity" formControlName="schoolCity" matInput
                                placeholder="Enter School City" />
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <mat-label>School Postal Code</mat-label>
                            <input required id="schoolPostalCode" formControlName="schoolPostalCode" matInput
                                placeholder="Enter School Postal Code" />
                        </mat-form-field>

                    </div>

                </div>

                <div *ngIf="isStudentvar|| isStudent">
                    <mat-divider
                        style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                    </mat-divider>

                    <div class="row" style="padding-top: 1%;">
                        <div class="col-md-6">
                            <h2>Student's Sunday School Details</h2>
                        </div>
                    </div>

             
                    <div class="row">
                   
                        <mat-form-field class="form-field col-md-9">
                            <mat-label>Sunday School Name</mat-label>
                            <select required matNativeControl id="sunSchoolId" formControlName="sunSchoolId">
                          
                                <option *ngFor="let schoolData of schoolDataList" [value]=schoolData.orgId>
                                    {{schoolData.name}} </option>
                            </select>

                        </mat-form-field>
                 

                        <mat-form-field class="col-md-3">
                            <mat-label>Sunday School Grade</mat-label>
                            <mat-select required matNativeControl id="sunSchoolGrade" formControlName="sunSchoolGrade">
                            
                      <!-- <mat-option value="Grade 12">Grade 12</mat-option>  -->

                                <mat-option *ngFor="let schoolGrade of schoolDataList[0].grades"
                                    [value]=schoolGrade.name>{{schoolGrade.name}} </mat-option>
                            </mat-select>

                        </mat-form-field>


                    </div>

                    <div class="row" *ngIf="ishidden">

                        <mat-form-field class="col-md-6">
                            <mat-label>Sunday School Term</mat-label>
                            <input [min]="minDate" (dateChange)="comparisonSunSchoolStartDateValidator()"
                                (dateChange)="eventStartDateChange()" required matInput
                                [matDatepicker]="sunSchoolAcaYrStrtDatepicker" id="sunSchoolAcaYrStrtDate"
                                formControlName="sunSchoolAcaYrStrtDate" placeholder="Enter Academic Year Start Date">
                            <mat-datepicker-toggle matSuffix [for]="sunSchoolAcaYrStrtDatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #sunSchoolAcaYrStrtDatepicker></mat-datepicker>
                            <mat-error
                                *ngIf="studentDetailsForm.controls['sunSchoolAcaYrStrtDate'].hasError('invaliddaterange')">
                                Start date cannot be greater than end date
                            </mat-error>

                        </mat-form-field>


                        <mat-form-field class="col-md-6">
                            <mat-label>Sunday School Year End Date</mat-label>
                            <input [min]="minDate" (dateChange)="comparisonSunSchoolEndDateValidator()" required
                                matInput [matDatepicker]="sunSchoolAcaYrEndDatepicker" id="sunSchoolAcaYrEndDate"
                                formControlName="sunSchoolAcaYrEndDate" placeholder="Enter Academic Year End Date">
                            <mat-datepicker-toggle matSuffix [for]="sunSchoolAcaYrEndDatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #sunSchoolAcaYrEndDatepicker></mat-datepicker>
                            <mat-error
                                *ngIf="studentDetailsForm.controls['sunSchoolAcaYrEndDate'].hasError('invaliddaterange')">
                                End date cannot be earlier than start date
                            </mat-error>
                            <input id="sunSchoolAcaYrEndDate" placeholder="Sunday School Term End Dates"
                                formControlName="sunSchoolAcaYrEndDate" readonly matInput>
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <mat-form-field class="col-md-6">
                            <mat-label>Sunday School Term</mat-label>

                            <input id="termDetailId" placeholder="Sunday School Term" formControlName="termDetailId"
                                readonly matInput>
                        </mat-form-field>


                    </div>


                </div>

            </form>


            <mat-divider
                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 10px; margin-bottom: 12px;">
            </mat-divider>


        </div>



        <div class="col text-center">

            <button mat-button type="submit" routerLinkActive="active" class="mbutton mr-1 allButton"
            (click)="cancel()">
            <span class="allButtonSpan">Cancel</span>
        </button>
        <button mat-button type="submit" mat-button class="mbutton allButton" style="margin-top: 2%;"
            (click)="updateUserProfile()">
        <span class="allButtonSpan">Update</span>    
        </button>
        </div>


    </mat-card>
</div>