<div class="container mt-4">
    <mat-card class="shadow">
        <div class="row" style="padding-top: 0.6%;">
            <div class="col-md-6">
                <h1 style="margin-top:1%; margin-bottom: 2%; padding-left: 2%;font-family: poppins;"
                    *ngIf="!eventFormLabel">Create Event
                </h1>
                <h1 style="margin-top:1%; margin-bottom: 2%; padding-left: 2%;font-family: poppins;"
                    *ngIf="eventFormLabel">Update Event</h1>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <button mat-button class="ml-auto" data-dismiss="modal">
                    <mat-icon (click)="onCloseBtnClick()">clear</mat-icon>
                </button>
            </div>
        </div>
        <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step [stepControl]="eventsDataFormGroup">

                <!--Expansion pannel content goes here-->
                <div class="container">

                    <form [formGroup]="eventsDataFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Details</span>
                        </ng-template>
                        <div class="form-container">


                            <div class="row" style="margin-top: 3%;">

                                <mat-form-field class="col-md-12">
                                    <input required id="eventName" matInput formControlName="name"
                                        placeholder="Event Name" />
                                </mat-form-field>

                            </div>

                            <div class="row">

                                <mat-form-field class="col-md-6">
                                    <mat-select required id="eventType" (selectionChange)="eventTypeSelChange()"
                                        formControlName="eventType" placeholder="Event Type">
                                        <mat-option [disabled]="evntTypedisabled" *ngFor="let event of eventList"
                                            [value]="event.eventType">
                                            {{event.eventType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-select required multiple id="eventCoordinator"
                                        formControlName="eventCoordinator" placeholder="Event Co-ordinator">
                                        <mat-option *ngFor="let proctor of proctorData" [value]="proctor.userId">
                                            {{proctor.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>



                            <div class="row">

                                <mat-form-field class="col-md-6">
                                    <!-- <mat-label>Event Level Type</mat-label> -->
                                    <mat-select matNativeControl required formControlName="orgType"
                                        placeholder="Event Level" (selectionChange)="onOrgSelect($event)">
                                        <mat-option *ngFor="let org of orgs" [disabled]="evntTypedisabled" [value]="org.orgtype">{{org.orgtype}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <!-- <mat-label>Event Level ID</mat-label> -->
                                    <mat-select multiple matNativeControl required formControlName="orgId"
                                        placeholder="Event Executed By">
                                        <mat-option *ngFor="let orgDetail of orgDetails" [disabled]="evntTypedisabled" [value]=orgDetail.id>
                                            {{orgDetail.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>



                            <div class="row">

                                <mat-form-field class="col-md-6">

                                    <mat-label *ngIf="eventStartDateMatLabel">Event Start Date</mat-label>
                                    <mat-label *ngIf="ttcExaminationDateLabel">TTC Examination Date</mat-label>
                                    <mat-label *ngIf="cwcEventDateLabel">CWC Event Date</mat-label>

                                    <!-- (dateChange)="comparisonEventStartdateValidator()" -->
                                    <!-- (dateChange)="comparisonEventStartandRegiStartdateValidator()"
                                        (dateChange)="comparisonEventStartandRegiEnddateValidator()" -->
                                    <input 
                                         [min]="minDate"
                                        matInput id="startDate" formControlName="startDate"
                                        [matDatepicker]="startatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="startatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #startatpicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange')">
                                        Start date cannot be greater than end date
                                    </mat-error>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange1')">
                                        Event Start date must be greater than registration End date
                                    </mat-error>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange3')">
                                        Event Start date must be greater than registration start date
                                    </mat-error>
                                </mat-form-field>


                                <mat-form-field *ngIf="isEventEndDateRequired" class="col-md-6">

                                    <!-- (dateChange)="comparisonEventEnddateValidator()" -->
                                    <mat-label>Event End Date</mat-label>
                                    <input [min]="minDate" matInput id="endDate" formControlName="endDate"
                                         [matDatepicker]="endatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="endatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #endatpicker></mat-datepicker>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['endDate'].hasError('invaliddaterange')">
                                        Event End date cannot be earlier than Event start date
                                    </mat-error>

                                </mat-form-field>


                            </div>

                            <div class="row">

                                <mat-form-field class="col-md-6">

                                    <!-- (dateChange)="comparisonRegiStartdatedateValidator()"
                                        (dateChange)="comparisontRegiStartdateandEventStarValidator()" -->
                                    <mat-label>Registration Start Date</mat-label>
                                    <input matInput id="registrationStartDate" formControlName="registrationStartDate"    
                                        [matDatepicker]="registrationStartatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="registrationStartatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #registrationStartatpicker></mat-datepicker>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationStartDate'].hasError('invaliddaterange')">
                                        Start date cannot be greater than end date
                                    </mat-error>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationStartDate'].hasError('invaliddaterange4')">
                                        Registration Start date cannot be greater than Event start date
                                    </mat-error>

                                </mat-form-field>


                                <mat-form-field class="col-md-6">

                                    <!-- (dateChange)="comparisonRegiEnddateandEventStartValidator()" -->

                                    <mat-label>Registration End Date</mat-label>
                                    <input (dateChange)="comparisonRegiEnddateValidator()" [min]="minDate"
                                        matInput id="registrationEndDate" formControlName="registrationEndDate"
                                        [matDatepicker]="registrationEndatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="registrationEndatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #registrationEndatpicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationEndDate'].hasError('invaliddaterange')">
                                        End date cannot be earlier than start date
                                    </mat-error>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationEndDate'].hasError('invaliddaterange2')">
                                        Registration End date cannot be earlier than Event Start date
                                    </mat-error>

                                </mat-form-field>


                            </div>


                            <div class="row">
                                <mat-form-field *ngIf="iseventUrlRequired" class="col-md-12">

                                    <input id="eventUrl" matInput formControlName="eventUrl"
                                        placeholder="Enter Event URL" />
                                    <!-- <mat-error
                                        *ngIf="eventsDataFormGroup.controls.eventUrl.touched && eventsDataFormGroup.controls.eventUrl.invalid">
                                        <span *ngIf="eventsDataFormGroup.controls.eventUrl.errors.required">This field
                                            is mandatory.</span>
                                        <span *ngIf="eventsDataFormGroup.controls.eventUrl.errors.pattern">Please enter
                                            valid URL.</span>
                                    </mat-error> -->
                                </mat-form-field>
                            </div>

                            <div class="row col-md-12" *ngIf="isUploadDocumentsRequired"
                                style="justify-content: space-between;">
                                <label for="file">Event Documents:</label>
                                <input style="margin-bottom: 15px!important;" type="file"
                                    placeholder="Upload Flyer/Poster" id="file"
                                    (change)="handleEventFlyerFileInput($event)" multiple>
                            </div>

                            <div class="row">
                                <mat-form-field class="col-md-12">
                                    <textarea rows="4" required id="description" matInput formControlName="description"
                                        placeholder="Event Description"></textarea>
                                </mat-form-field>
                            </div>

                            <div>
                                <button mat-raised-button matStepperNext (click)="onEventDetailsSectionNextBtnClick()">
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>

                </div>


            </mat-step>


            <mat-step [stepControl]="eventCategoriesFormGroup">
                <div class="container">

                    <form [formGroup]="eventCategoriesFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Categories</span>
                        </ng-template>
                        <div class="form-container">



                            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl"
                                    style="padding-left: 16%; padding-right: 3%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"
                                                style="padding-top: 1%; padding-left: 2%;font-family: poppins;">Add New
                                                Category</h4>
                                            <button mat-button class="ml-auto" data-dismiss="modal"
                                                (click)="closeNewCatPopUp()">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </div>
                                        <div class="modal-body p-4 border m-3 rounded">
                                            <div class="row">
                                                <mat-form-field class="col-md-6">
                                                    <input matNativeControl id="newCatName" matInput
                                                        formControlName="newCatName"
                                                        placeholder="Enter Category Name" />
                                                </mat-form-field>
                                            </div>

                                            <div class="row">
                                                <mat-form-field class="col-md-12">
                                                    <textarea rows="4" id="newCatDesc" matInput
                                                        formControlName="newCatDesc"
                                                        placeholder="Enter Category Description"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <mat-divider
                                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                            </mat-divider>

                                            <div class="col text-center" style="padding-top: 2%;">
                                                <button mat-raised-button type="submit" class="mbutton"
                                                    (click)="saveNewCategory()">
                                                    <span style="font-family: poppins;">Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" style="padding-top: 1%; padding-bottom: 1%;">
                                <div style="margin-left: 79.6%;">
                                    <button mat-raised-button (click)="onaddNewCatbtnclick()">
                                        <mat-icon>add</mat-icon>
                                        <span style="font-family: poppins;">Add New Category</span>
                                    </button>
                                </div>
                            </div>


                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataCat" [columnDefs]="columnDefsCat" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsCat" 
                                (gridReady)="onCatGridReady($event)">
                            </ag-grid-angular>







                        </div>

                        <div style="padding-top: 2%;">
                            <button mat-raised-button matStepperNext (click)="onEventCategoriesSectionNextBtn()">
                                <span style="font-family: poppins;">Next</span>
                            </button>
                        </div>

                    </form>
                </div>
            </mat-step>


            <mat-step [stepControl]="eventGroupsFormGroup">
                <div class="container">
                    <form [formGroup]="eventGroupsFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Groups</span>
                        </ng-template>
                        <div class="form-container">


                            <div class="modal fade" id="imagemodalGroup" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl"
                                    style="padding-left: 16%; padding-right: 3%;height: 79%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"
                                                style="padding-top: 1%; padding-left: 2%;font-family: poppins;">Add New
                                                Group</h4>
                                            <button mat-button class="ml-auto" data-dismiss="modal"
                                                (click)="closeNewGroupPopUp()">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </div>
                                        <div class="modal-body p-4 border m-3 rounded">

                                            <div class="row">

                                                <mat-form-field class="col-md-6">
                                                    <input matNativeControl id="newGroupName" matInput
                                                        formControlName="newGroupName" placeholder="Enter Group Name" />
                                                </mat-form-field>

                                            </div>

                                            <div class="row">

                                                <ng-multiselect-dropdown class="col-md-12" id="here"
                                                    placeholder="Select Grades" [settings]="dropdownSettingsGradeList"
                                                    [data]="gradeListDropdownValues" formControlName="newGradeList"
                                                    (onSelect)="onItemSelect($event)"
                                                    [(ngModel)]="selectedItemsGradeListPopUp"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>

                                            </div>


                                            <div style="padding-top: 10%;">
                                                <mat-divider
                                                    style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                                </mat-divider>
                                            </div>

                                            <div class="col text-center" style="padding-top: 4%;">
                                                <button mat-raised-button type="submit" class="mbutton"
                                                    (click)="saveNewGroup()">
                                                    <span style="font-family: poppins;">Add</span>
                                                </button>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" style="padding-top: 4%; padding-bottom: 1%;">
                                <div style="margin-left: 81%;">
                                    <button mat-raised-button (click)="onaddNewGroupbtnclick()">
                                        <mat-icon>add</mat-icon>
                                        <span style=" font-family: poppins;">Add New Group</span>
                                    </button>
                                </div>
                            </div>


                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataGroups" [columnDefs]="columnDefsGroup" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsGroups"
                                (gridReady)="onGroupsGridReady($event)">
                            </ag-grid-angular>


                            <div style="padding-top: 2%;">
                                <button mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;"
                                        (click)="onEventGroupsSectionNextBtn()">Next</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step [stepControl]="eventCatGroupMapFormGroup">
                <div class="container">
                    <form [formGroup]="eventCatGroupMapFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Category Group Mapping</span>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>
                                <div class="row" formArrayName="eventCatGroupMapFormArray"
                                    *ngFor="let item of eventCatGroupMapFormGroup.get('eventCatGroupMapFormArray')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">


                                        <div class="row" style="padding-top: 4%;">
                                            <mat-form-field class="col-md-6">
                                                <input matNativeControl readonly id="categoryName" matInput
                                                    formControlName="categoryName" placeholder="Category Name" />
                                            </mat-form-field>

                                            <ng-multiselect-dropdown class="col-md-6" id="groupMapIds"
                                                placeholder="Select Groups" [settings]="dropdownSettingsGroups"
                                                [data]="groupsDropdownValues" formControlName="groupMapIds"
                                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                        </div>

                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>



                                    </div>
                                </div>
                            </fieldset>


                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;"
                                        (click)="onEventCatGroupMapSectionNextBtn()">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step [stepControl]="eventVenueAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventVenueAssignFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Venue Assignment</span>
                        </ng-template>
                        <div class="form-container">

                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataVenues" [columnDefs]="columnDefsVenues" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsVenues"
                                (gridReady)="onVenuesGridReady($event)">
                            </ag-grid-angular>


                            <div style="padding-top: 2%; padding-bottom: 2%;">
                                <button mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;"
                                        (click)="onEventVenueAssignSectionNextBtn()">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step [stepControl]="eventProctorAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventProctorAssignFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Proctor Assignment</span>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>
                                <div class="row" formArrayName="eventProctorAssignFormArray"
                                    *ngFor="let item of eventProctorAssignFormGroup.get('eventProctorAssignFormArray')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">


                                        <div class="row" style="padding-top: 4%;">
                                            <mat-form-field class="col-md-6">
                                                <input matNativeControl readonly id="venueName" matInput
                                                    formControlName="venueName" placeholder="Venue Name" />
                                            </mat-form-field>

                                            <ng-multiselect-dropdown class="col-md-6" id="proctorId"
                                                placeholder="Select Proctor" [settings]="dropdownSettingsProctor"
                                                [data]="proctorDropdownValues" formControlName="proctorId"
                                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                        </div>

                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>



                                    </div>
                                </div>
                            </fieldset>


                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;"
                                        (click)="onEventProctorAssignSectionNextBtn()">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>




            <mat-step [stepControl]="eventJudgeAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventJudgeAssignFormGroup">
                        <ng-template matStepLabel>
                            <span style="font-family: poppins;">Event Judge Assignment</span>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>

                                <div formArrayName="categories">
                                    <div class="row" *ngFor="let category of categories().controls; let i = index;">

                                        <div class="container" style="padding-left: 2%;" [formGroupName]="i">

                                            <br>

                                            <!-- <div style="margin-left: 89%;">
                                                <button mat-raised-button (click)="removeEventCategory(i)">
                                                    <mat-icon>delete</mat-icon><span>Delete</span>
                                                </button>
                                            </div> -->

                                            <div class="row">
                                                <div class="col-md-6" style="padding-left: 4%; padding-right: 0%;">
                                                <mat-form-field class="col-md-12" style="padding-left: 4%;padding-left: 0%;">
                                                    <input readonly matInput id="categoryName" matInput
                                                        formControlName="categoryName" placeholder="Category Name">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-md-2">

                                            </div>


                                            <div class="col-md-2" style="padding-left: 8%;">


                                                <button mat-raised-button (click)="addRegionAndJudges(i)">
                                                    <mat-icon>add</mat-icon>
                                                    <span style="font-family: poppins;">Add Region And Judges</span>
                                                </button>
                                            </div>
                                            </div>


                                            <!-- <div style="margin-left: 91%; padding-bottom: 1%; padding-top: 2%;"
                                                class="row">
                                              
                                            </div> -->


                                            <div class="form-container">
                                                <fieldset>
                                                    <div formArrayName="regionsJudgesArray">
                                                        <div
                                                            *ngFor="let region of regionsAndJudges(i).controls; let regIndex=index">
                                                            <div class="container" style="padding-left: 2%;"
                                                                [formGroupName]="regIndex">



                                                                <div class="row">

                                                                    <div class="col-md-6">

                                                                        <ng-multiselect-dropdown class="col-md-12"
                                                                            id="regions" placeholder="Select Region"
                                                                            [settings]="dropdownSettingsRegion"
                                                                            [data]="regionDropdownValues"
                                                                            formControlName="regions"
                                                                            (onSelect)="onRegionSelect($event)"
                                                                            (onSelectAll)="onSelectAll($event)">
                                                                        </ng-multiselect-dropdown>


                                                                    </div>   
                                                                    
                                                                    <div class="col-md-5">

                                                                    </div>


                                                                    <div class="col-md-1" style="padding-top: 1.6%; padding-left: 0%;">
                                                                        <button mat-raised-button
                                                                            (click)="removeRegionsAndJudges(i,regIndex)">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>
                                                                    </div>

                                                                </div>

                                                                <div class="row">

                                                                    <div class="col-md-12">

                                                                        <ng-multiselect-dropdown class="col-md-12"
                                                                            id="judges" placeholder="Select Judges"
                                                                            [settings]="dropdownSettingsJudges"
                                                                            [data]="judgesDropdownValues"
                                                                            formControlName="judges"
                                                                            (onSelect)="onItemSelect($event)"
                                                                            (onSelectAll)="onSelectAll($event)">
                                                                        </ng-multiselect-dropdown>

                                                                    </div>

                                                                </div>

                                                                <!-- <mat-divider
                                                                style="position: relative;background-color:rgb(136, 88, 25);height: 1px;margin-top: 2%;margin-bottom: 2%;">
                                                                </mat-divider> -->


                                                            </div>

                                                        </div>
                                                    </div>
                                                </fieldset>






                                            </div>

                                            <mat-divider
                                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                            </mat-divider>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;"
                                        (click)="onEventJudgeAssignSectionNextBtn()">Next</span>
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </mat-step>





            <!-- *ngIf="isQuestionnariesRequired" -->
            <mat-step [stepControl]="questionnaireDataFormGroup">
                <div class="container">
                    <form [formGroup]="questionnaireDataFormGroup">
                        <ng-template matStepLabel>Event Questionaries</ng-template>
                        <div class="form-container">
                            <fieldset>
                                <div class="row" formArrayName="questionnaire"
                                    *ngFor="let item of questionnaireDataFormGroup.get('questionnaire')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">
                                        <div style="margin-left: 91%; padding-bottom: 1%;" class="row">
                                            <button mat-raised-button (click)="onaddbtnclick1()">
                                                <mat-icon>add</mat-icon>
                                                <span style="font-family: poppins;">Add</span>
                                            </button>
                                        </div>

                                        <div class="row" style="padding-top:2%">
                                            <mat-form-field class="col-md-8">
                                                <input matNativeControl required id="question" matInput
                                                    formControlName="question" placeholder="Enter Question" />
                                            </mat-form-field>

                                        <ng-multiselect-dropdown class="col-md-4"
                                            id="responseType" placeholder="Select Response Type"
                                            [settings]="dropdownSettingsResponseType"
                                            [data]="responseTypeDropdownValues"
                                            formControlName="responseType"
                                            (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>

                                            <!-- <mat-form-field class="col-md-4">
                                                <mat-select matNativeControl required id="responseType"
                                                    formControlName="responseType" placeholder="Select response Type">
                                                    <mat-option value="Yes/No">Yes/No</mat-option>
                                                    <mat-option value="Text">Text</mat-option>
                                                    <mat-option value="Date Range">Date Range</mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                        </div>

                                        <div class="row">

                                            <div class="col-md-2" style="margin-left: 87%;">
                                                <button mat-raised-button (click)="onremovebtnclickQuestion(i)">
                                                    <mat-icon>delete</mat-icon>
                                                    <span style="font-family: poppins;">Delete</span>
                                                </button>
                                            </div>
                                        </div>


                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- <div>
                        <button mat-button matStepperNext>Next</button>
                      </div> -->



                    </form>
                </div>
            </mat-step>

            <mat-step [stepControl]="eventEvaluatorAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventEvaluatorAssignFormGroup">
                        <ng-template matStepLabel>Event Evaluator Assignment</ng-template>
                        <div class="form-container">


                            <div class="row" style="padding-top: 4%; padding-bottom: 10%;">
                                
                                <ng-multiselect-dropdown class="col-md-12"
                                id="evaluators" placeholder="Select Evaluators"
                                [settings]="dropdownSettingsEvaluator"
                                [data]="evaluatorDropdownValues"
                                formControlName="evaluators"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>


                            </div>


                            <!-- <mat-divider
                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                            </mat-divider> -->




                        </div>
                    </form>
                </div>
            </mat-step>

        </mat-vertical-stepper>



        <mat-divider
            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
        </mat-divider>

        <div *ngIf="!eventFormLabel" class="row" style="padding-top: 1%;">
            <div class="col text-center">
                <button mat-raised-button type="submit" class="mbutton" (click)="createEvent()">
                   <span style="font-family: poppins;"> Save</span></button>
            </div>
        </div>

        <div *ngIf="eventFormLabel" class="row" style="padding-top: 1%;">
            <div class="col text-center">
                <button mat-raised-button type="submit" class="mbutton" (click)="updateEvent()">
                    Update Event</button>
            </div>
        </div>



    </mat-card>

</div>