<div class="container mt-4">
    <mat-card class="shadow">
        <div class="row" style="padding-top: 0.6%;">
            <div class="col-md-6">
                <h1 class="heading" style="margin-top:1%; margin-bottom: 2%; padding-left: 2%;font-family: poppins;"
                    *ngIf="!eventFormLabel">Create Event
                </h1>
                <h1 class="heading" style="margin-top:1%; margin-bottom: 2%; padding-left: 2%;font-family: poppins;"
                    *ngIf="eventFormLabel">Update Event</h1>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <button mat-button class="ml-auto" data-dismiss="modal">
                    <mat-icon (click)="onCloseBtnClick()">clear</mat-icon>
                </button>
            </div>
        </div>
        <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step [stepControl]="eventsDataFormGroup">

                <div class="container">

                    <form [formGroup]="eventsDataFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Details</b></span>
                        </ng-template>
                        <div class="form-container">


                            <div class="row" style="margin-top: 3%;">

                                <mat-form-field class="col-md-12">
                                    <input required id="eventName" matInput formControlName="name"
                                        placeholder="Event Name" />
                                </mat-form-field>

                            </div>


                            <div class="row">

                             
                                <!-- [disabled]="evntTypedisabled" -->
                                
                               
                                <div class="col-md-6">
                                    <label  style="font-family: poppins;text-align: left; ">Event Type :</label>
                                <ng-multiselect-dropdown style="padding-bottom: 2%;" class="col-md-6" id="eventType" 
                                    placeholder="Event Type" [settings]="dropdownSettingsEventType"
                                    [data]="eventList" [disabled]="evntTypedisabled" formControlName="eventType" (onSelect)="eventTypeSelChange()"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                               
                            </div>
                            
                                <!-- <mat-form-field class="col-md-6">
                                    <mat-select required id="eventType" (selectionChange)="eventTypeSelChange()"
                                        formControlName="eventType" placeholder="Event Type">
                                        <mat-option [disabled]="evntTypedisabled" *ngFor="let event of eventList"
                                            [value]="event.eventType">
                                            {{event.eventType}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->


                                <div class="col-md-6">
                                    <label  style="font-family: poppins;text-align: left; ">Event Co-ordinator :</label>
                                <ng-multiselect-dropdown style="padding-bottom: 2%;" class="col-md-6" id="eventCoordinator"
                                    placeholder="Event Co-ordinator"
                                    [settings]="dropdownSettingsEventCoordinator" [data]="proctorData"
                                    formControlName="eventCoordinator" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                           
                            </div>
                                <!-- <mat-form-field class="col-md-6">
                                    <mat-select required multiple id="eventCoordinator"
                                        formControlName="eventCoordinator" placeholder="Event Co-ordinator">
                                        <mat-option *ngFor="let proctor of proctorData" [value]="proctor.userId">
                                            {{proctor.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->


                            </div>



                            <div class="row">


                                <!-- [disabled]="evntTypedisabled" -->
                                <div class="col-md-6">
                                    <label  style="font-family: poppins;text-align: left; ">Event Level :</label>
                                <ng-multiselect-dropdown style="padding-bottom: 2%;" class="col-md-6" id="orgType" placeholder="Event Level"
                                     [settings]="dropdownSettingsEventLevel" [data]="orgs" [disabled]="evntTypedisabled"
                                    (onSelect)="onOrgSelect($event)" formControlName="orgType"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                               
                            </div>
                                <!-- <mat-form-field class="col-md-6">
                                       <mat-label>Event Level Type</mat-label> 
                                    <mat-select matNativeControl required formControlName="orgType"
                                        placeholder="Event Level" (selectionChange)="onOrgSelect($event)">
                                        <mat-option *ngFor="let org of orgs" [disabled]="evntTypedisabled"
                                            [value]="org.orgtype">{{org.orgtype}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                                <!-- <mat-form-field class="col-md-6">
                                    <!-- <mat-label>Event Level ID</mat-label> 
                                    <mat-select multiple matNativeControl required formControlName="orgId"
                                        placeholder="Event Executed By">
                                        <mat-option *ngFor="let orgDetail of orgDetails" [disabled]="evntTypedisabled"
                                            [value]=orgDetail.id>
                                            {{orgDetail.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->


                                <div class="col-md-6">
                                    <label  style="font-family: poppins;text-align: left; ">Event Executed By :</label>
                                <!-- [disabled]="evntTypedisabled" -->
                                <ng-multiselect-dropdown style="padding-bottom: 2%;" class="col-md-6" id="orgId" placeholder="Event Executed By"
                                     [settings]="dropdownSettingsEventExecutedBy" [data]="orgDetails"  [disabled]="evntTypedisabled"
                                    formControlName="orgId"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                               
                            </div>

                            </div>



                            <div class="row">

                                <mat-form-field class="col-md-6">

                                    <mat-label *ngIf="!isSingleDayEvent">Event Start Date</mat-label>
                                    <mat-label *ngIf="isSingleDayEvent">Event Date</mat-label>

                                    <!-- (dateChange)="comparisonEventStartdateValidator()" -->
                                    <!-- (dateChange)="comparisonEventStartandRegiStartdateValidator()"
                                        (dateChange)="comparisonEventStartandRegiEnddateValidator()" -->
                                    <input [min]="minDate" (dateChange)="dateChangeEventStartDate($event)" matInput id="startDate" formControlName="startDate"
                                        [matDatepicker]="startatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="startatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #startatpicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange')">
                                        Start date cannot be greater than end date
                                    </mat-error>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange1')">
                                        Event Start date must be greater than registration End date
                                    </mat-error>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['startDate'].hasError('invaliddaterange3')">
                                        Event Start date must be greater than registration start date
                                    </mat-error>
                                </mat-form-field>


                                <mat-form-field *ngIf="!isSingleDayEvent" class="col-md-6">

                                    <!-- (dateChange)="comparisonEventEnddateValidator()" -->
                                    <mat-label>Event End Date</mat-label>
                                    <input [min]="minDate" (dateChange)="dateChangeEventEndDate($event)" matInput id="endDate" formControlName="endDate"
                                        [matDatepicker]="endatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="endatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #endatpicker></mat-datepicker>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['endDate'].hasError('invaliddaterange')">
                                        Event End date cannot be earlier than Event start date
                                    </mat-error>

                                </mat-form-field>


                            </div>

                            <div class="row">

                                <mat-form-field class="col-md-6">

                                    <!-- (dateChange)="comparisonRegiStartdatedateValidator()"
                                        (dateChange)="comparisontRegiStartdateandEventStarValidator()" -->
                                    <mat-label>Registration Start Date</mat-label>
                                    <input matInput id="registrationStartDate" (dateChange)="dateChangeEventRegistrationStartDate($event)" formControlName="registrationStartDate"
                                        [matDatepicker]="registrationStartatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="registrationStartatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #registrationStartatpicker></mat-datepicker>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationStartDate'].hasError('invaliddaterange')">
                                        Start date cannot be greater than end date
                                    </mat-error>

                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationStartDate'].hasError('invaliddaterange4')">
                                        Registration Start date cannot be greater than Event start date
                                    </mat-error>

                                </mat-form-field>


                                <mat-form-field class="col-md-6">

                                    <!-- (dateChange)="comparisonRegiEnddateandEventStartValidator()" -->

                                    <mat-label>Registration End Date</mat-label>
                                    <input (dateChange)="comparisonRegiEnddateValidator()" (dateChange)="dateChangeEventRegistrationEndtDate($event)" [min]="minDate" matInput
                                        id="registrationEndDate" formControlName="registrationEndDate"
                                        [matDatepicker]="registrationEndatpicker">
                                    <mat-datepicker-toggle matSuffix [for]="registrationEndatpicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #registrationEndatpicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationEndDate'].hasError('invaliddaterange')">
                                        End date cannot be earlier than start date
                                    </mat-error>
                                    <mat-error
                                        *ngIf="eventsDataFormGroup.controls['registrationEndDate'].hasError('invaliddaterange2')">
                                        Registration End date cannot be earlier than Event Start date
                                    </mat-error>

                                </mat-form-field>


                            </div>


                            <div class="row">
                                <mat-form-field *ngIf="isUrlRequired" class="col-md-12">

                                    <input id="eventUrl" matInput formControlName="eventUrl"
                                        placeholder="Enter Event URL" />
                                    <!-- <mat-error
                                        *ngIf="eventsDataFormGroup.controls.eventUrl.touched && eventsDataFormGroup.controls.eventUrl.invalid">
                                        <span *ngIf="eventsDataFormGroup.controls.eventUrl.errors.required">This field
                                            is mandatory.</span>
                                        <span *ngIf="eventsDataFormGroup.controls.eventUrl.errors.pattern">Please enter
                                            valid URL.</span>
                                    </mat-error> -->
                                </mat-form-field>
                            </div>


                            <div class="row col-md-12" *ngIf="isAttachmentRequired"
                                style="justify-content: space-between;">


                                <label>Event Documents:</label>

                                <form enctype="multipart/form-data">
                                    <input type="file" name="documents" (change)="onSelectedFile($event)" required multiple>
                                </form>


                            </div>

                            <div class="row">
                                <mat-form-field class="col-md-12">
                                    <textarea rows="4" required id="description" matInput formControlName="description"
                                        placeholder="Event Description"></textarea>
                                </mat-form-field>
                            </div>

                            <div>
                                <button (click)="onEventDetailsSectionNextBtnClick()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>

                </div>


            </mat-step>


            <mat-step *ngIf="isCategoryRequired" [stepControl]="eventCategoriesFormGroup">
                <div class="container">

                    <form [formGroup]="eventCategoriesFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Categories</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>We list from Config Table By Event(if applicable).
                             Allow user to add new categories & delete category in section .</div>
                        </ng-template>
                        <div class="form-container">



                            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl"
                                    style="padding-left: 16%; padding-right: 3%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"
                                                style="padding-top: 1%; padding-left: 2%;font-family: poppins;">Add New
                                                Category</h4>
                                            <button mat-button class="ml-auto" data-dismiss="modal"
                                                (click)="closeNewCatPopUp()">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </div>
                                        <div class="modal-body p-4 border m-3 rounded">
                                            <div class="row">
                                                <mat-form-field class="col-md-6">
                                                    <input matNativeControl id="newCatName" matInput
                                                        formControlName="newCatName"
                                                        placeholder="Enter Category Name" />
                                                </mat-form-field>
                                            </div>

                                            <div class="row">
                                                <mat-form-field class="col-md-12">
                                                    <textarea rows="4" id="newCatDesc" matInput
                                                        formControlName="newCatDesc"
                                                        placeholder="Enter Category Description"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <mat-divider
                                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                            </mat-divider>

                                            <div class="col text-center" style="padding-top: 2%;">
                                                <button mat-raised-button type="submit" class="mbutton"
                                                    (click)="saveNewCategory()">
                                                    <span style="font-family: poppins;">Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" style="padding-top: 1%; padding-bottom: 1%;">
                                <div style="margin-left: 79.6%;">
                                    <button mat-raised-button (click)="onaddNewCatbtnclick()">
                                        <mat-icon>add</mat-icon>
                                        <span style="font-family: poppins;">Add New Category</span>
                                    </button>
                                </div>
                            </div>


                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataCat" [columnDefs]="columnDefsCat" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsCat"
                                (gridReady)="onCatGridReady($event)">
                            </ag-grid-angular>







                        </div>

                        <div style="padding-top: 2%;">
                            <button (click)="onEventCategoriesSectionNextBtn()" mat-raised-button matStepperNext>
                                <span style="font-family: poppins;">Next</span>
                            </button>
                        </div>

                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isCategoryRequired" [stepControl]="eventGroupsFormGroup">
                <div class="container">
                    <form [formGroup]="eventGroupsFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Groups</b></span><div class="stepDisplayMessageStyle" mat-dialog-content>We list group from Config Table By Event(if applicable).
                                 Allow user to add new Group & delete Group in section .</div>

                        </ng-template>
                        <div class="form-container">


                            <div class="modal fade" id="imagemodalGroup" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl"
                                    style="padding-left: 16%; padding-right: 3%;height: 79%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel"
                                                style="padding-top: 1%; padding-left: 2%;font-family: poppins;">Add New
                                                Group</h4>
                                            <button mat-button class="ml-auto" data-dismiss="modal"
                                                (click)="closeNewGroupPopUp()">
                                                <mat-icon>clear</mat-icon>
                                            </button>
                                        </div>
                                        <div class="modal-body p-4 border m-3 rounded">

                                            <div class="row">

                                                <mat-form-field class="col-md-6">
                                                    <input matNativeControl id="newGroupName" matInput
                                                        formControlName="newGroupName" placeholder="Enter Group Name" />
                                                </mat-form-field>

                                            </div>

                                            <div class="row">

                                                <ng-multiselect-dropdown class="col-md-12" id="here"
                                                    placeholder="Select Grades" [settings]="dropdownSettingsGradeList"
                                                    [data]="gradeListDropdownValues" formControlName="newGradeList"
                                                    (onSelect)="onItemSelect($event)"
                                                    [(ngModel)]="selectedItemsGradeListPopUp"
                                                    (onSelectAll)="onSelectAll($event)">
                                                </ng-multiselect-dropdown>

                                            </div>


                                            <div style="padding-top: 10%;">
                                                <mat-divider
                                                    style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 12px;">
                                                </mat-divider>
                                            </div>

                                            <div class="col text-center" style="padding-top: 4%;">
                                                <button mat-raised-button type="submit" class="mbutton"
                                                    (click)="saveNewGroup()">
                                                    <span style="font-family: poppins;">Add</span>
                                                </button>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row" style="padding-top: 4%; padding-bottom: 1%;">
                                <div style="margin-left: 81%;">
                                    <button mat-raised-button (click)="onaddNewGroupbtnclick()">
                                        <mat-icon>add</mat-icon>
                                        <span style=" font-family: poppins;">Add New Group</span>
                                    </button>
                                </div>
                            </div>


                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataGroups" [columnDefs]="columnDefsGroup" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsGroups"
                                (gridReady)="onGroupsGridReady($event)">
                            </ag-grid-angular>


                            <div style="padding-top: 2%;">
                                <button (click)="onEventGroupsSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isCategoryRequired" [stepControl]="eventCatGroupMapFormGroup">
                <div class="container">
                    <form [formGroup]="eventCatGroupMapFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Category Group Mapping</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>We allow user to map Categories And Group from Category Define
                                and Group Define in the <br> above 2 Section.Allow user to Unmap/Remove Mapping if Required.</div>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>
                                <div class="row" formArrayName="eventCatGroupMapFormArray"
                                    *ngFor="let item of eventCatGroupMapFormGroup.get('eventCatGroupMapFormArray')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">


                                        <div class="row" style="padding-top: 4%;">
                                            <div class="col-md-6">
                                                <label  style="font-family: poppins;text-align: left; ">categoryName :</label>
                                            <mat-form-field class="col-md-12">
                                                <input matNativeControl readonly id="categoryName" matInput
                                                    formControlName="categoryName" placeholder="Category Name" />
                                            </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <label  style="font-family: poppins;text-align: left; ">Event Executed By :</label>
                                            <ng-multiselect-dropdown class="col-md-6" id="groupMapIds"
                                                placeholder="Select Groups" [settings]="dropdownSettingsGroups"
                                                [data]="groupsDropdownValues" formControlName="groupMapIds"
                                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                            </div>
                                        </div>

                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>



                                    </div>
                                </div>
                            </fieldset>


                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button (click)="onEventCatGroupMapSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isVenueRequired" [stepControl]="eventVenueAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventVenueAssignFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Venue Assignment</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>We List Venue Associated to the Event Type & Org.
                                 Allow users To Add Or Remove Venue From This Section.</div>
                        </ng-template>
                        <div class="form-container">

                            <ag-grid-angular style="width: auto; height: 500px;" class="ag-theme-alpine mt-3"
                                [rowData]="rowDataVenues" [columnDefs]="columnDefsVenues" [pagination]="true"
                                rowSelection='multiple' [gridOptions]="gridOptionsVenues"
                                (gridReady)="onVenuesGridReady($event)">
                            </ag-grid-angular>


                            <div style="padding-top: 2%; padding-bottom: 2%;">
                                <button (click)="onEventVenueAssignSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>

            <mat-step *ngIf="isProctorRequired" [stepControl]="eventProctorAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventProctorAssignFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Proctor Assignment</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>For Each Venue In The Above Event Section - Allow user to Assign Proctor,Remove Proctor.</div>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>
                                <div class="row" formArrayName="eventProctorAssignFormArray"
                                    *ngFor="let item of eventProctorAssignFormGroup.get('eventProctorAssignFormArray')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">


                                        <div class="row" style="padding-top: 4%;">
                                            <div class="col-md-6">
                                                <label  style="font-family: poppins;text-align: left;margin-left: 1.2vw; ">Venue Name :</label>
                                            <mat-form-field class="col-md-12">
                                                <input matNativeControl readonly id="venueName" matInput
                                                    formControlName="venueName" placeholder="Venue Name" />
                                            </mat-form-field>
                                        </div>
                                            <div class="col-md-6">
                                                <label  style="font-family: poppins;text-align: left; ">Proctor :</label>
                                            <ng-multiselect-dropdown class="col-md-6" id="proctorId"
                                                placeholder="Select Proctor" [settings]="dropdownSettingsProctor"
                                                [data]="proctorDropdownValues" formControlName="proctorId"
                                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>
                                        </div>
                                        </div>

                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>



                                    </div>
                                </div>
                            </fieldset>


                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button (click)="onEventProctorAssignSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isJudgeRequired" [stepControl]="eventJudgeAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventJudgeAssignFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Judge Assignment</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>For Each Category & Group In The Above Mapping. 
                                Allow One Or More Judges & delete the Judges.</div>
                        </ng-template>
                        <div class="form-container">

                            <fieldset>

                                <div formArrayName="categories">
                                    <div class="row" *ngFor="let category of categories().controls; let i = index;">

                                        <div class="container" style="padding-left: 2%;" [formGroupName]="i">

                                            <br>

                                            <!-- <div style="margin-left: 89%;">
                                                <button mat-raised-button (click)="removeEventCategory(i)">
                                                    <mat-icon>delete</mat-icon><span>Delete</span>
                                                </button>
                                            </div> -->

                                            <div class="row">
                                                <div class="col-md-6" style="padding-left: 4%; padding-right: 0%;">
                                                    <mat-form-field class="col-md-12"
                                                        style="padding-left: 4%;padding-left: 0%;">
                                                        <input readonly matInput id="categoryName" matInput
                                                            formControlName="categoryName" placeholder="Category Name">
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-2">

                                                </div>


                                                <div class="col-md-2" style="padding-left: 8%;">


                                                    <button mat-raised-button (click)="addRegionAndJudges(i)">
                                                        <mat-icon>add</mat-icon>
                                                        <span style="font-family: poppins;">Add Region And Judges</span>
                                                    </button>
                                                </div>
                                            </div>


                                            <!-- <div style="margin-left: 91%; padding-bottom: 1%; padding-top: 2%;"
                                                class="row">
                                              
                                            </div> -->


                                            <div class="form-container">
                                                <fieldset>
                                                    <div formArrayName="regionsJudgesArray">
                                                        <div
                                                            *ngFor="let region of regionsAndJudges(i).controls; let regIndex=index">
                                                            <div class="container" style="padding-left: 2%;"
                                                                [formGroupName]="regIndex">



                                                                <div class="row">

                                                                    <div class="col-md-6">
                                                                        <label  style="font-family: poppins;text-align: left; ">Region :</label>
                                                                        <ng-multiselect-dropdown class="col-md-12"
                                                                            id="regions" placeholder="Select Region"
                                                                            [settings]="dropdownSettingsRegion"
                                                                            [data]="regionDropdownValues"
                                                                            formControlName="regions"
                                                                            (onSelect)="onRegionSelect($event)"
                                                                            (onSelectAll)="onSelectAll($event)">
                                                                        </ng-multiselect-dropdown>


                                                                    </div>

                                                                    <div class="col-md-5">

                                                                    </div>


                                                                    <div class="col-md-1"
                                                                        style="padding-top: 1.6%; padding-left: 0%;">
                                                                        <button mat-raised-button
                                                                            (click)="removeRegionsAndJudges(i,regIndex)">
                                                                            <mat-icon>delete</mat-icon>
                                                                        </button>
                                                                    </div>

                                                                </div>

                                                                <div class="row">

                                                                    <div class="col-md-12">
                                                                        <label  style="font-family: poppins;text-align: left; ">Judges :</label>
                                                                        <ng-multiselect-dropdown class="col-md-12"
                                                                            placeholder="Select Judges"
                                                                            [settings]="dropdownSettingsJudges"
                                                                            [data]="fnRegionDropdownValues(region)"
                                                                            formControlName="judges"
                                                                            (onSelect)="onItemSelect($event)"
                                                                            (onSelectAll)="onSelectAll($event)">
                                                                        </ng-multiselect-dropdown>

                                                                    </div>

                                                                </div>

                                                                <!-- <mat-divider
                                                                style="position: relative;background-color:rgb(136, 88, 25);height: 1px;margin-top: 2%;margin-bottom: 2%;">
                                                                </mat-divider> -->


                                                            </div>

                                                        </div>
                                                    </div>
                                                </fieldset>






                                            </div>

                                            <mat-divider
                                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                            </mat-divider>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div style="padding-top: 4%; padding-bottom: 4%;">
                                <button (click)="onEventJudgeAssignSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isEvaluatorRequired" [stepControl]="eventEvaluatorAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventEvaluatorAssignFormGroup">
                        <ng-template matStepLabel> 
                            <span class="stepLableStyle"><b>Event Evaluator Assignment</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>Applicable To Exam Only. Allow One Or More Evaluator Setup
                                Event Type - Diploma,TTC,Sunday School Mid Term And Sunday School Final Term.</div>
                        </ng-template>
                        <div class="form-container">


                            <div class="row" style="padding-top: 2%; padding-bottom: 16%;">
                                <label  style="font-family: poppins;text-align: left; margin-left: 1.2vw;">Evaluators :</label>
                                <ng-multiselect-dropdown class="col-md-12" id="evaluators"
                                    placeholder="Select Evaluators" [settings]="dropdownSettingsEvaluator"
                                    [data]="evaluatorDropdownValues" formControlName="evaluators"
                                    [(ngModel)]="selectedEvaluatorsDropdown" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>


                            </div>


                            <!-- <mat-divider
                                style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                            </mat-divider> -->


                            <div style="padding-top: 4%; padding-bottom: 2%;">
                                <button *ngIf="isEvalSecNextButtonRequired"
                                    (click)="onEventEvaluatorAssignSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isGradewiseEvaluatorsRequired" [stepControl]="eventGradeEvalAssignFormGroup">
                <div class="container">
                    <form [formGroup]="eventGradeEvalAssignFormGroup">
                        <ng-template matStepLabel> 
                            <span class="stepLableStyle"><b>Event Evaluator Assignment</b></span>
                            <div class="stepDisplayMessageStyle" mat-dialog-content>Applicable To Exam Only. Allow One Or More Evaluator Setup
                                Event Type - Sunday School Mid Term And Sunday School Final Term.</div>
                        </ng-template>
                        <div class="form-container">

                            <div class="row" formArrayName="gradeEvalFormArray"
                            *ngFor="let item of eventGradeEvalAssignFormGroup.get('gradeEvalFormArray')['controls']; let i = index;">

                            <div class="container" style="padding-left: 2%;" [formGroupName]="i">



                                <div class="row" style="padding-top: 4%;">

                                    <mat-form-field class="col-md-6" style="padding-top: 3%;">
                                        <input id="grade" matInput formControlName="grade" readonly
                                            placeholder="Grade" />
                                    </mat-form-field>

                                    <div class="col-md-6">
                                    <label  style="font-family: poppins;text-align: left; ">Evaluator :</label>
                                    <ng-multiselect-dropdown id="evaluator"
                                        placeholder="Select Evaluator" [settings]="dropdownSettingsEvaluatorDropdownValues"
                                        [data]="gradewiseEvaluatorDropdownValues" formControlName="evaluator"
                                        (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>


                                </div>

                                </div>
                            </div>

                           


                            <div style="padding-top: 4%; padding-bottom: 2%;">
                                <button *ngIf="isEvalSecNextButtonRequired"
                                    (click)="onEventEvaluatorAssignSectionNextBtn()" mat-raised-button matStepperNext>
                                    <span style="font-family: poppins;">Next</span>
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
            </mat-step>


            <mat-step *ngIf="isQuestionnaireRequired" [stepControl]="questionnaireDataFormGroup">
                <div class="container">
                    <form [formGroup]="questionnaireDataFormGroup">
                        <ng-template matStepLabel>
                            <span class="stepLableStyle"><b>Event Questionaries</b></span>
                        </ng-template>
                        <div class="form-container">

                            <div style="margin-left: 83.7%; padding-bottom: 1%;" class="row">
                                <button mat-raised-button (click)="onaddbtnclick1()">
                                    <mat-icon>add</mat-icon>
                                    <span style="font-family: poppins;">Add Questions</span>
                                </button>
                            </div>

                            <fieldset>
                                <div class="row" formArrayName="questionnaire"
                                    *ngFor="let item of questionnaireDataFormGroup.get('questionnaire')['controls']; let i = index;">

                                    <div class="container" style="padding-left: 2%;" [formGroupName]="i">


                                        <div class="row" style="padding-top:2%">
                                            <mat-form-field class="col-md-8">
                                                <input matNativeControl required id="question" matInput
                                                    formControlName="question" placeholder="Enter Question" />
                                            </mat-form-field>

                                            <ng-multiselect-dropdown class="col-md-4" id="responseType"
                                                placeholder="Select Response Type"
                                                [settings]="dropdownSettingsResponseType"
                                                [data]="responseTypeDropdownValues" formControlName="responseType"
                                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                            </ng-multiselect-dropdown>

                                            <!-- <mat-form-field class="col-md-4">
                                                <mat-select matNativeControl required id="responseType"
                                                    formControlName="responseType" placeholder="Select response Type">
                                                    <mat-option value="Yes/No">Yes/No</mat-option>
                                                    <mat-option value="Text">Text</mat-option>
                                                    <mat-option value="Date Range">Date Range</mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                        </div>

                                        <div class="row">

                                            <div class="col-md-2" style="margin-left: 87%;">
                                                <button mat-raised-button (click)="onremovebtnclickQuestion(i)">
                                                    <mat-icon>delete</mat-icon>
                                                    <span style="font-family: poppins;">Delete</span>
                                                </button>
                                            </div>
                                        </div>


                                        <mat-divider
                                            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
                                        </mat-divider>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- <div>
                        <button mat-button matStepperNext>Next</button>
                      </div> -->



                    </form>
                </div>
            </mat-step>



        </mat-vertical-stepper>



        <mat-divider
            style="position: relative;background-color:rgb(136, 88, 25);height: 2px;margin-top: 4%;margin-bottom: 3%;">
        </mat-divider>

        <div class="row" style="padding-top: 1%;">
            <div class="col text-center ">
                <!-- 5px 6px 2px #363535; 
                text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 
                    #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
                background-color: white;-->
                <button mat-raised-button type="submit" class="mbutton saveButton" (click)="createEvent()" >
                    <span class="rounded saveButtonSpan"> Save</span>
                
                </button>
            </div>
        </div>


    </mat-card>

</div>