.shadow{
box-shadow: 7px 7px 22px grey;
}

::ng-deep .mat-form-field-wrapper{
    margin-bottom: -0.4em;
 }

 
:host ::ng-deep .multiselect-dropdown .selected-item{
    max-width: 400px !important;
    margin: 4px; 
}