.container{
    font-family: poppins;
 }
 :host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #a82b029e !important;
  }

  :host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
    background-color: #a82b029e !important;
  }
  mat-form-field{
    font-family: poppins;
    letter-spacing: 0.18px;
}

.allButtonSpan{
  color: black;
  font-family: poppins;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 
  #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
}
.allicon{
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 
  #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
}
.allButton{
  background-color: #bd34069e;
  box-shadow: 2px 2px 3px rgb(158, 158, 151), 3px 3px 3px rgb(102, 98, 98);
  
}
.allButton:disabled{
  background-color: #f08865c9;
}

:host ::ng-deep .multiselect-dropdown .selected-item{
  max-width: 400px !important;
  margin: 4px; 
  }