/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: poppins!important;
}

@font-face {
  font-family: poppins;
  src: url(assets/Poppins/Poppins-Regular.ttf);
}

.mbutton {
  background-color: #b130059e;
  border: none;
}

.mbutton:hover {
  background-color: #a82b029e;
  border: none;
}

.mbutton:focus {
  background-color: #a82b029e;
  border: none;
}

.box-shadow {
  box-shadow: 2px 2px 10px rgb(191 191 191 / 75%);
}

.container-fluid {
  height: 100%;
}

.ag-theme-alpine {
  font-family: poppins!important;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 8px;
}

.mat-button {
  font-family: poppins;
}

.successSnackBarStyle {
  background-color: #ffffff!important;
  color: black!important;
  font-family: 'poppins'!important;
  border: 1px solid #2ad66c !important;
  max-width: inherit!important;
}

.errorSnackBarStyle {
  background-color: #ffffff!important;
  color: black!important;
  font-family: 'poppins'!important;
  border: 1px solid #e44444 !important;
  max-width: inherit!important;
}
.ag-theme-alpine {
  /* use theme parameters where possible */
  
  --ag-header-background-color:rgba(238, 209, 172, 0.712);
  font-family: poppins;
  text-shadow: 2px 2px 3px rgb(158, 158, 151), 3px 3px 5px rgb(102, 98, 98);
  
  }

  .ag-theme-alpine .ag-header-cell-label {
    font-style: poppins;
    text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 3px 3px #fff, -3px -3px 0 
#fff, 3px -3px 0 #fff, -3px 3px 0 #fff;
    }
    
  .ag-theme-alpine .ag-checkbox{
      text-shadow: none;
      }
  
      .ag-theme-alpine .ag-header-cell-resize::after{
        background-color: black;
        align-items: center;
        height: 30px;
        width: 1px;
        left: calc(40% - 2px);
        
        }
        
        
      .ag-theme-alpine .ag-header-cell-resize::before{
        background-color: black;
        align-items: center;
        height: 30px;
        }
        
        .ag-theme-alpine .ag-header-cell-resize{
        background-color: white;
        height: 60px;
        align-items: center;
        /* margin-top: 3%; */
        top: calc(0% - 30%);
        
        }